# App
PORT=3000
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# TMDB
TMDB_API_KEY=tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_SYNC_PAGES=5
TMDB_SYNC_ON_STARTUP=true
TMDB_SYNC_CRON=0 3 * * *
